<mat-toolbar color="primary">
  <span class="logo" routerLink="/">TMA</span>
  <span class="spacer"></span>
  <button mat-stroked-button routerLink="/create">create Ticket<mat-icon>add</mat-icon>
  </button>
  <span class="spacer"></span>
  <button *ngIf="!token" mat-button routerLink="/login">
    Login<mat-icon>account_circle</mat-icon>
  </button>

  <button *ngIf="token" mat-button (click)="logout()">
    Logout<mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>