<div class="d-flex-center">
    <div class="login-container text-center">
        <h4 class="text-center">Login</h4>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">
            <div class="login-form-container">
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error
                            *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error
                            *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
                            Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mt-top-2">
                    <mat-form-field>
                        <input matInput type="password" placeholder="Password" formControlName="password">
                        <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
                            Password length must be greater than or equal to 8 and password must contain one or more
                            uppercase , lowercase , numeric and special characters
                        </mat-error>
                        <mat-error
                            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mt-top d-flex-center">
                    <button [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
                </div>
            </div>
        </form>
        <div class="mt-top d-flex-center">
            <button mat-button color="primary" routerLink="/signup">Don't have an account? Create Account!</button>
        </div>
    </div>
</div>